importFrom("igraph", "igraph.from.graphNEL", "V<-", "V", "E", "is.loop", "delete.edges",
           "as.undirected", "degree", "plot.igraph", "vcount", "layout.fruchterman.reingold")
importFrom("IRanges", "findOverlaps", "IRanges", "coverage")
importFrom("MASS", "polr")
importFrom("nnet", "multinom")
importFrom("annotate", "getGOTerm")
importFrom("DOSE", "setting.graph.attributes")
importFrom("reshape2", "melt")
importFrom("GOstats", "GOGraph")
importFrom("GO.db", "GOBPPARENTS", "GOCCPARENTS", "GOMFPARENTS")
importFrom("scales", "pretty_breaks")
importFrom("FactoMineR", "PCA")
importFrom("graphite", "pathwayGraph")
importFrom("data.table", "data.table")
importFrom("Rgraphviz", "plot")
import(gridExtra)
import(cgdsr)
import(coin)
import(facopy.annot)
import(methods)
import(ggplot2)
exportPattern("^[[:alpha:]]+")
